@media (min-width: 576px) {
  .offer-box {
    width: 45.62%;
    padding-bottom: 45.62%;
    margin-right: 8.75%;
  }

  .offer-box:nth-of-type(2n) {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .about h1 {
    text-align: left;
  }

  .about-employee {
    flex-direction: row;
    justify-content: space-between;
  }

  .about-employee:nth-of-type(even) {
    flex-direction: row-reverse;
    text-align: right;
  }

  .about-employee-desc {
    width: calc(100% - 250px);
  }

  .about-employee-pic {
    margin: 0;
  }

  .offer-wrapper {
    width: 720px;
  }
}

@media (min-width: 1024px) {
  .offer-box {
    width: 27.5%;
    padding-bottom: 27.5%;
  }

  .offer-box:nth-of-type(2n) {
    margin-right: 8.75%;
  }

  .offer-box:nth-of-type(3n) {
    margin-right: 0;
  }
}