nav {
  background-color: #4E4E4E;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
}

.nav-links {
  display: none;
}

nav .container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-page {
  height: calc(100vh - 50px);
  padding: 0;
  background-image: url(https://picsum.photos/1920/1080);
  background-size: cover;
  background-position: center;
  color: white;
}

.landing-page-shadow {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.landing-page-shadow .container {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.landing-page-btn {
  padding: 10px 55px;
  border: 3px solid white;
  color: white;
  text-decoration: none;
  transition: 1s all;
  cursor: pointer;
}

.landing-page-btn:hover {
  background-color: white;
  color: black;
}

.about {
  background-color: #F1F1F1;
}

.about h1 {
  margin-bottom: 50px;
  font-size: 36px;
  color: #152D41;
  text-align: center;
}

.about-employee {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.about-employee-pic {
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: gray;
}

.offer {
  background-color: #405D78;
}

.offer h1 {
  color: #FFFFFF;
  margin-bottom: 50px;
}

.offer-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
}

.offer-box {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 8.75%;
  background-color: #F1F1F1;
}

.offer-box-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
}